h1, h2{
  text-align: center;
}

h1{
  padding-bottom: 250px;
  color: white;
  font-family: arial;
}

h2{
  font-family: arial;
    color: white
}

#background{
  background-image: url('../images/pawprintbackground.png');
}

.navbar-inverse{
  background-color: transparent;
  border-color: transparent;
}

.navar-brand{
  font-family: forte;
}


.navbar-form{
    border: transparent;
}


#imagebg{
  background-image: url('../images/ds.jpg');
  background-size: cover;
  background-attachment: local;
  background-repeat: no-repeat;
  background-position: center top;
  margin-bottom: 10px;
}

h3{
  color: white;
  text-align: center;
}

#howitworks, #info, #woofoftheday{
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

#contact{
  background-color: #732673;
  max-height: 5px;
  margin-bottom: 0;
}

#slideshow {
    margin: 100px auto;
    position: relative;
    width: 240px;
    height: 240px;
    padding: 10px;
}

#slideshow > div {
    position: left;
    top: 20px;
    left: 20px;
    right: 200px;
    bottom: 20px;

}

.img {
    width: 500px;
    height: 300px;
    background-position: center;
    background-repeat: repeat;
}
