h1, h2{text-align: center;
font-family: fantasy;
color: white}

h1{padding-bottom: 250px}

h1{color: red}

#background{
  background-image: url('../images/pawprintbackground.png');
}

.jumbotron{
  background-image: url('../images/ds.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
